<!-- shared/utils/templates/orders-list-table.html -->

<div class="ordersList-table-container">
  <div class="table-responsive">
    <table class="orders-table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Route</th>
                <th>Place</th>
                <th>Shop</th>
                <th>Delivery Date</th>
                <th>Status</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="orders-table-body">
    </tbody> </table>
  </div>
</div>
